<!doctype html>
<html>
  <head>
    <title>INVENTORY PREDICTION</title>
    <style>
      body {background-color: powderblue;}
      h1 {
        color: blue;
        font-family: verdana;
        font-size: 300%;
        }
      p {
          color: black;
          font-family: courier;
          font-size: 160%;
          border: 2px solid powderblue;
          /* padding: 2px; */
          margin: 10px;

        }
      </style>
  </head>
  <body>
    <!-- <img src = "file:///C:/Users/ADMIIN/Desktop/inventory%20management%20project/templates/logo.jpeg" alt="inventory" width="500" height="600"> -->
    <h1 style="color:blue;">WELCOME TO KAYA</h1>
    <a href="https://imgbox.com/AssYs3dC" target="_blank">
    <img src="https://thumbs2.imgbox.com/d7/63/AssYs3dC_t.jpg" alt="image host"/>
    <!-- <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com"> -->
    </a>
    <p>
      Kaya is your one stop inventory management system. We not only store your data but also give predictions of the stock you will need for your shop.
      Simply submit your inventory in a csv file, which will be stored, and then we will model a customized prediction.
    </p>
    <h2>Upload your inventory csv file</h2>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <p>
      reach us through the email : kayainventorymanagementsystem@gmail.com  
    </p>
    </p>
  </body>
</html>